// Variables

$text-font: 'Roboto', sans-serif;
$title-font: 'Shrikand', sans-serif;
$main-colour:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$background-color--grey: #F3F3F3;
:root{
    --btn-gradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)
    }

// Mixins

@mixin for-tablet {
    @media only screen and (min-width: 769px) { @content; }
  }
@mixin for-desktop {
    @media only screen and (min-width: 1025px) { @content; }
  }

// Keyframes

@keyframes appearEntrance {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes appearPlat {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes appearDessert {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

body{
    font-family: $text-font;
    background: $background-color--grey;
    a{
        text-decoration: none;
        &:visited{
            text-decoration: none;
        }
    }
    header{
        background-color: white;
        display: flex;
        justify-content: center;
        position: relative;
        .fa-arrow-left{
            display: flex;
            position: absolute;
            left: 30px;
            top: 22px;
            color: black;
        }
        .header-logo{
            width: 13.125em;
            height: 2.75em;
            padding-top: 15px;
            padding-bottom: 25px;
            text-align: center;
        }
    }
    main{
        @include for-desktop{
            background: white;
        }
        .header-img-restaurant{
            width: 100%;
            height: 275px;
            object-fit: cover;
            position: relative;
            z-index: 1;
        }
        h1{
            color: var(--Black, #101010);
            font-family: Shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
        }
        h2{
            display: flex;
            width: 275px;
            height: 27px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 15px;
            text-align: left;
            padding-top: 20px;
            @include for-tablet{
                padding-left: 55px;
            }
        }
        hr{
            border: 2px $third-color solid;
            width: 40px;
            margin-left: 15px;
            margin-top: 0px;
            @include for-tablet{
                margin-left: 55px;
            }
        }
        h3{
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 75%;
            font-family: $text-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: left;
        }
        p{
            color: #000;
            font-family: $text-font;
            font-size: 15.043px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-align: left;
        }
        .card-restaurant{
            background-color: $background-color--grey;
            margin-top: -30px;
            padding-bottom: 50px;
            border-radius: 30px 30px 0px 0px;
            position: relative;
            z-index: 2;
            @include for-tablet{
                padding-left: 80px;
                padding-right: 80px;
            }
            @include for-desktop{
                max-width: 1025px;
                margin-right: auto;
                margin-left: auto;
            }
            .card-title{
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: space-around;
                margin: auto;
                @include for-tablet{
                    width: 24em;
                    justify-content: space-between;
                }
                @include for-desktop{
                    gap: 25px;
                }
                .fa-regular{
                    &.fa-heart{
                    color: black;
                    position: absolute;
                    top: 35px;
                    right: 50px;
                    opacity: 1;
                    &:hover{
                        opacity: 0;
                    }
                }
            }
                .fa-solid{
                    &.fa-heart{
                        position: absolute;
                        color: transparent;
                        background-clip: text;
                        background-image: linear-gradient($main-colour, $secondary-color);
                        top: 35px;
                        right: 50px;
                        opacity: 0;
                        transition: all 500ms ease;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
            .btn-menu{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                justify-items: center;
                position: relative;
                padding: 15px;
                width: 85%;
                margin-top: 20px;
                background-color: white;
                border: 0px solid transparent;
                padding: 0px!important;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 15.043px;
                background: var(--White, #FFF);
                box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
                .menu-content{
                    display: block;
                    flex: 1;
                    padding: 15px;
                }
                .check{
                    width: 0px;
                    height: 69px;
                    border-radius: 0px 15.043px 15.043px 0px;
                    display: flex;
                    background-color: $third-color;
                    align-items: center;
                    justify-content: center;
                    transition: all 500ms ease;
                }
                &:hover .check{
                    flex: 0.1;
                }
            }
            .btn-menu-content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .fa-circle-check{
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                align-content: center;
            }
        }
        .menu-detail{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.menu-entree{
                .btn-menu {
                animation: appearEntrance 1.5s ease forwards;
                opacity: 0;
              }
            }
            &.menu-plat{
                .btn-menu {
                animation: appearPlat 3.5s ease forwards;
                opacity: 0;
              }
            }
            &.menu-dessert{
                .btn-menu {
                animation: appearDessert 5.5s ease forwards;
                opacity: 0;
              }
            }
    }
        .btn-cta{
            width: 50%;
            display: block;
            margin: auto;
            color: white;
            font-family: $text-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 15px 20px 15px 20px;
            margin-top: 30px;
            border: transparent;
            border-radius: 25px;
            background: var(--btn-gradient);
            &:hover{
                opacity: 85%;
                box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.15);
            }
            @include for-tablet{
                width: 30%;
            }
            @include for-desktop{
                width: 25%;
            }
        }
    }
    footer{
        color: white;
        background-color: var(--Grey, #353535);
        @include for-tablet{
            display: flex;
            flex-direction: row-reverse;
            padding-right: 25px;
        }
        @include for-desktop{
            display: flex;
            flex-direction: row-reverse;
            padding-right: 25px;
        }
        a{
            text-decoration: none;
            color: white;
            &:visited{
                text-decoration: none;
            }
        }
        .footer__logo{
            color: var(--White, #FFF);
            font-family: Shrikhand;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 25px;
            padding-top: 25px;
            @include for-tablet{
                padding-top: 50px;
            }
            @include for-desktop{
                padding-top: 50px;
            }
        }
        .footer__content{
            @include for-tablet{
                display: flex;
                flex-direction: row;
                gap: 15px;
                padding-top: 50px;
            }
            @include for-desktop{
                display: flex;
                flex-direction: row;
                gap: 15px;
                padding-top: 50px;
            }
        }
        ul{
            list-style: none;
            padding-top: 15px;
            padding-bottom: 35px;
            padding-left: 25px;
            li{
                padding-top: 5px;
                padding-bottom: 5px;
                font-family: $text-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                .fa-solid{
                    padding-right: 10px;
                }
            }
        }
    }
}