// Variables

$main-colour:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$background-color--grey: #F3F3F3;
:root{
--btn-gradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)
}

$text-font: 'Roboto', sans-serif;
$title-font: 'Shrikand', sans-serif;

// Mixin

@mixin border-shadow {
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    box-shadow: 6px 0px 25px rgba(0, 0, 0, 0.5);
  }

@mixin for-phone-only {
    @media (max-width: 767px) { @content; }
  }
@mixin for-tablet {
    @media (min-width: 768px) { @content; }
  }
@mixin for-desktop {
    @media (min-width: 1024px) { @content; }
  }
@mixin for-big-desktop-up {
    @media (min-width: 1440px) { @content; }
  }

// Animations

@keyframes spin{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@keyframes loading-appear {
    50% {
      opacity: 0.95;
    }
    99% {
      z-index: 21;
    }
    100% {
      opacity: 0;
      z-index: -20;
    }
}

body{
    font-family: $text-font;
    background-color: $background-color--grey;
    .loader__container{
        /*border-radius: 5px;
        background: transparent;
        width: 400px;
        height: 400px;
        margin: 100px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;*/
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #ffffff;
            opacity: 0.95;
            animation: loading-appear 2s both ease-in-out;
            z-index: 21;
            display: flex;
            align-items: center;
            justify-content: center;
          }
    .loader{
        display: block;
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 7px solid transparent;
        border-top-color: $main-colour;
        animation: spin 2s linear infinite;
        }
    .loader::before, .loader::after{
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 7px solid transparent;
    }
    .loader::before{
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-top-color: $secondary-color;
        animation: spin 3s linear infinite;
    }
    .loader::after{
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        border-top-color: $third-color;
        animation: spin 1.5s linear infinite;
    }
    header{
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        padding-bottom: 10px;
        position: relative;
        z-index: 2;
        @include for-tablet{
            box-shadow: none;
        }
        .header__logo{
            display: block;
            width: 13.125em;
            height: 2.75em;
            margin: auto;
            padding-top: 15px;
            padding-bottom: 25px;
            img{
                display: block;
                width: 13.125em;
                height: 2.75em;
                margin: auto;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        }
    main{
        h1{
            font-family: $text-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 25px;
        }
        a{
            text-decoration: none;
        }
        .location{
            background: darken($background-color--grey, 5%);
            display: flex;
            flex-direction: row;
            height: 50px;
            align-items: center;
            justify-content: center;
            font-family: $text-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            i{
                padding-right: 15px;
            }
            @include for-tablet{
                box-shadow: none;
            }
        }
        .search{
            p{
                text-align: center;
                padding-bottom: 15px;
                font-family: $text-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                }
            h1{
                text-align: center;
                padding-bottom: 15px;
                @include for-tablet{
                    font-size: 40px;
                }
            }
            .btn-search{
                width: 15em;
                display: block;
                margin: auto;
                margin-bottom: 50px;
                color: white;
                font-family: $text-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 15px 20px 15px 20px;
                margin-top: 30px;
                border: transparent;
                border-radius: 25px;
                background: var(--btn-gradient);
                opacity: 1;
                position: relative;
                transition: all 1s ease-out;
                &:hover{
                    opacity: 75%;
                }
            }
        }
        .how-it-works{
            background-color: white;
            display: flex;
            flex-direction: column;
            &__steps{
                @include for-tablet { 
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
            .number{
                color: white;
                background-color: #9356DC;
                border-radius: 50%;
                padding: 10px;
                font-size: 10px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                left: -5px;
                top: 8px;
            }
            button{
                color: #000;
                font-family: $text-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border: none;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                width: 80%;
                display: block;
                margin: auto;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 25px;
                position: relative;
                &:hover{
                    color: #9356DC;
                }
                @include for-tablet { 
                    width: 20.125em;
                    margin: 20px;
                }
            }
            &__last-button{
                margin-bottom: 60px;
            }
            i{
                padding-right: 15px;
            }
        }
        .list-restaurants{
            margin-bottom: 60px;
            @include for-tablet{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
            }
            .card{
                margin: auto;
                height: 251px;
                width: 90%;
                align-self: stretch;
                border-radius: 15px;
                background-color: white;
                margin-bottom: 15px;
                position: relative;
                .card__title{
                    padding-top: 10px;
                    padding-left: 10px;
                    color: #000;
                    font-family: $text-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                .card__subtitle{
                    color: #000;
                    font-family: $text-font;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    padding-left: 10px;
                    padding-top: 5px;
                }
                .card__favorite{
                    .fa-heart{
                        position: absolute;
                        bottom: 20px;
                        right: 15px;
                        color: black;
                    }
                }
                .card__new{
                    color: #008766;
                    background-color: $third-color;
                    text-align: center;
                    font-family: $text-font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    width: 80px;
                    height: 29px;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
                img{
                    height: 183px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15px 15px 0px 0px;
                
            }
        }
    }
}
    footer{
        color: white;
        background-color: var(--Grey, #353535);
        @include for-tablet{
            display: flex;
            flex-direction: row-reverse;
            padding-right: 25px;
            padding-bottom: 30px;
        }
        .footer__logo{
            color: var(--White, #FFF);
            font-family: Shrikhand;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 25px;
            padding-top: 30px;
        }
        .footer__content{
            @include for-tablet{
                display: flex;
                flex-direction: row;
            }
        }
        .footer__bold{
            font-weight: bold;
        }
        ul{
            list-style: none;
            padding-top: 25px;
            padding-bottom: 35px;
            padding-left: 25px;
            @include for-tablet{
                display: flex;
                flex-direction: row;
                justify-content:end;
                align-items: baseline;
            }
            li{
                padding-top: 5px;
                padding-bottom: 5px;
                font-family: $text-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                .fa-solid{
                    padding-right: 10px;
                }
                @include for-tablet{
                    padding-right: 25px;
                }
            }
        }
    }
}